<h2>Lista de postagem: </h2>
<hr>
<a href="/admin/postagens/add" class="btn btn-outline-success btn-block mt-3 mb-3">
    Nova postagem
</a>

{{#each postagens}}
    <div class="card">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>{{descricao}}</p>
            <small>{{data}}</small>
            <br>
            <small>{{categoria.nome}}</small> <br>
            <a href="/admin/postagem/edit/{{_id}}" class="btn btn-info">Editar postagem</a>
            <a href="/admin/postagem/deletar/{{_id}}" class="btn btn-danger">Deletar postagem</a>
        </div>
    </div>
{{else}}
    <p>Nenhuma postagem registrada!</p>
{{/each}}